In [ ]:
# Create dataframe using Dictionary:-

In [3]:
import pandas as pd

di = {"Name":["abc","def","ghi"],"Roll_no":[1,2,3],"Perc":[90.5,89.4,99]}

df = pd.DataFrame(di)

print(df)

  Name  Roll_no  Perc
0  abc        1  90.5
1  def        2  89.4
2  ghi        3  99.0

In [ ]:
# Create dataframe using List of Tuples:-

In [4]:
import pandas as pd

LT = [("abc",10,89.2),("def",11,80),("klm",12,67.2)]

df = pd.DataFrame(LT)

print(df)

     0   1     2
0  abc  10  89.2
1  def  11  80.0
2  klm  12  67.2